.main {
  height: auto;
  margin: 0 0 150px;
}

@media screen and (min-width: 900px) and (max-width: 1023px) {
  .main {
    margin: 0 0 60px;
  }
}

@media screen and (min-width: 721px) and (max-width: 899px) {
  .main {
    margin: 0 0 60px;
  }
}

@media screen and (max-width: 720px) {
  .main {
    margin: 0 0 0 0;
  }
}
